[Unit]
Description=Fabric Minecraft Server
After=network.target

[Service]
User=
Nice=1
KillMode=none
SuccessExitStatus=0 1
ProtectHome=false
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
Type=forking
WorkingDirectory=/opt/mine-fabric
ExecStart=/usr/bin/screen -h 1024 -dmS fabric ./start.sh
ExecStop=/usr/bin/screen -p 0 -S fabric -X eval 'stuff \"stop\"\015'
# Wait for the PID to die - otherwise it's killed after this command finishes!
ExecStop=/bin/bash -c "while ps -p $MAINPID > /dev/null; do /bin/sleep 1; done"
# Note that absolute paths for all executables are required!

[Install]
WantedBy=multi-user.target
